In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [9]:
dfm = pd.read_csv("./data/raw/GOOG_2012-06-21_34200000_57600000_message_10.csv", header=None)
dfm.columns = ["time", "type", "order_id", "size", "price", "direction"]
dfm.head()

           time  type  order_id  size    price  direction
0  34200.015105     4  15818974     4  5794000          1
1  34200.059902     4  15818974   300  5794000          1
2  34200.113247     5         0     1  5795100          1
3  34200.113247     5         0     1  5795000          1
4  34200.113247     5         0     1  5794900          1

In [ ]:
dfo = pd.read_csv("./data/raw/GOOG_2012-06-21_34200000_57600000_orderbook_10.csv", header=None)
dfo.columns = ["Ask Price 1", "type", "order_id", "size", "price", "direction"]
dfo.head()

In [4]:
dfm.shape

(147915, 6)

Columns:
	
	    1.) Time: 		
				Seconds after midnight with decimal 
				precision of at least milliseconds 
				and up to nanoseconds depending on 
				the requested period
	    2.) Type:
				1: Submission of a new limit order
				2: Cancellation (Partial deletion 
				   of a limit order)
				3: Deletion (Total deletion of a limit order)
				4: Execution of a visible limit order			   	 
				5: Execution of a hidden limit order
				7: Trading halt indicator 				   
				   (Detailed information below)
	    3.) Order ID: 	
				Unique order reference number 
				(Assigned in order flow)
	    4.) Size: 		
				Number of shares
	    5.) Price: 		
				Dollar price times 10000 
				(i.e., A stock price of $91.14 is given 
				by 911400)
	    6.) Direction:
				-1: Sell limit order
				1: Buy limit order
				
				Note: 
				Execution of a sell (buy) limit
				order corresponds to a buyer (seller) 
				initiated trade, i.e. Buy (Sell) trade.

In [2]:
import os
import numpy as np

for filename in os.listdir("./data/minimal_test"):
    if filename.endswith(".npy"):
        print(filename)
        data = np.load(f"./data/minimal_test/{filename}")
        i = len(data) // 10
        data = data[:i]
        np.save(f"./data/minimal_test/{filename}", data)

GOOG_2017-01-25_24900000_57900000_message_10_proc.npy
GOOG_2017-01-24_24900000_57900000_message_10_proc.npy
GOOG_2017-01-23_24900000_57900000_message_10_proc.npy
GOOG_2017-01-25_24900000_57900000_orderbook_10_proc.npy
GOOG_2017-01-24_24900000_57900000_orderbook_10_proc.npy
GOOG_2017-01-23_24900000_57900000_orderbook_10_proc.npy